.txt-Root {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 12px;
  background-color: #f7ead8;
  border: 2px solid #edcc9e;
  padding: 0 0.75em;
  height: 48px;
  margin-bottom: 16px;
}

.txt-Root:hover {
  border-color: #e4c08d;
  background-color: #f4dab6;
}

.txt-Root:focus-within {
  border-color: #edcc9e;
  background-color: #f7ead8;
  box-shadow: 0 0 0 3px rgba(237, 204, 158, 0.25);
}

.txt-Input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  height: 18px;
  font-size: 16px;
  color: #333;
  line-height: 1;
  padding-left: 12px;
}

.txt-Input::placeholder {
  color: rgba(51, 51, 51, 0.6);
}

.txt-Input::selection {
  background-color: #edcc9e;
  color: #333;
}
